/* Aca van los estilos para cosas que se generan en APP.JSX */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}
.row{
    display: flex;
    justify-content:center;
    padding: 100px;
}
.cardProducto {
    width: 19rem;
    margin: 11px;
}
.btncard{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.card-title{
    padding: 18px;
}
.card-title,.card-text{
    text-align: center;
}
.cartIcon{
    margin-right: 20px;
    padding-top: 20px;
    padding-left: 20px;
    color: white;
}
.cardDetail{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
}
.cardChild{
    display: flex;
    align-self: center;
}
.btnBuy{
    position: absolute;
    margin-top: 30px;
    height: 50px;
    display: flex;
}
.return{
    position: absolute;
    border: none;
    background-color: transparent;
}
.return-icon{
    color: rgb(255, 114, 58);
    font-size: 30px;
    padding-top: 20px;
    padding-left: 20px;
}
.buyButton{
    display: flex;
    justify-content: center;
}
.navbar-color{
    background-color: rgb(255, 114, 58);
    
}
.card{
    box-shadow: -9px 9px 2px rgb(236, 126, 75);
    background-color: rgb(248, 240, 225);
    padding-top: 20px;
}
.btn-details{
    background-color: rgb(241, 111, 71);
}

.darkMode{
    background-color: rgb(99, 159, 238);
    background-size: 3em 3em;
    overflow-x: hidden;
    background-image: linear-gradient(rgb(243, 194, 171) .1em, transparent .1em), linear-gradient(90deg, rgba(243, 224, 171) .1em, transparent .1em);
}
.cardDark{
    box-shadow: -9px 9px 2px rgb(99, 159, 238);

}