/* Aca van los estilos para cosas que se generan en APP.JSX */

.fa-solid{
    padding-top: 20px;
    padding-left: 20px;
    color: white;
}
.row{
    display: flex;
    justify-content:center;
    padding: 100px;
}
.cardProducto {
    width: 19rem;
    margin: 11px;
}
.btncard{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.card-title{
    padding: 18px;
}
.card-title,.card-text{
    text-align: center;
}
.cartIcon{
    margin-right: 20px;
}