/* Aca van los estilos para cosas que se generan en APP.JSX */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}
.row{
    display: flex;
    justify-content:center;
    padding: 100px;
}
.cardProducto {
    width: 19rem;
    margin: 11px;
}
.btncard{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.card-title{
    padding: 18px;
}
.card-title,.card-text{
    text-align: center;
}
.cartIcon{
    font-size: 33px;
    margin-right: 55px;
    padding-top: 22px;
    color: rgb(59, 51, 49);
}

.cardDetail{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.cardChild{
    display: flex;
    align-self: center;
}
.btnBuy{
    position: absolute;
    margin-top: 30px;
    height: 50px;
    display: flex;
}
.return{
    position: absolute;
    border: none;
    background-color: transparent;
}
.return-icon{
    color: rgb(255, 114, 58);
    font-size: 30px;
    padding-top: 20px;
    padding-left: 20px;
}
.buyButton{
    display: flex;
    justify-content: center;
}
.navbar-color{
    background-color: rgba(252, 111, 55, 0.664);
    
}
.card{
    box-shadow: -9px 9px 2px rgb(236, 126, 75);
    background-color: rgb(248, 240, 225);
    padding-top: 2px;
    border: none;
    margin: 15px;
}
.btn-details{
    background-color: rgb(241, 111, 71);
}
.logo{
    font-size:40px;
    color:rgb(59, 51, 49);
    margin-left: 50px;
    margin-right: 30px;
}
.navitem{
    font-size: 1.3rem;
    text-transform: uppercase;
}
.cardHover:hover{
    transform: scale(1.02);
}
.card-title{
    text-transform: uppercase;
}
.price{
    font-size: 1.6rem;
    color: rgb(129, 173, 255);
}
.homeDetails{
    box-shadow: -5px 5px 2px rgb(134, 176, 255);
}

.logo:hover , .cartIcon:hover{
    color:beige
}
.addCart{
    margin: 90px;
}
.quant{
    margin: 15px;
    font-weight: 700;
}
.detailTitle{
    font-size: 3rem;
    text-shadow: -10px 10px 0px #ffa34e,
                -20px 20px 0px #ffd271;
}
.detailPrice{
    font-size: 1.3rem;
}
.minus{
    background-color: rgb(212, 63, 63);
}
.plus{
    background-color: rgb(113, 230, 142);
    border: none;
}
.plus:hover{
    background-color: rgb(120, 197, 146);
}
.minus{
    background-color: rgb(194, 68, 68);
}
.detailBody{
    box-shadow: 15px 15px rgb(146, 181, 255);
}
.footer{
    background-color: rgba(124, 181, 255, 0.788);
}
.socials{
    color: beige;
    font-size: 23px;
    margin-left: 20px;
}
.socials:hover{
    color: rgb(255, 227, 133);
}
.contForm{
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
}
.textForm{
    text-align: center;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
}
.form-label{
    font-size: 1.5rem;
    text-transform: uppercase;
}
.textArea{
    border: none;
    outline: none;
    border-radius: 10px;
}
.formShadow{
    box-shadow: 10px 10px 2px rgb(120, 178, 255);
    background-color: beige;
}
.sendForm{
    display: flex;
    justify-content: center;
}
.empty{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.emptySize{
    width: 500px;
    height: 250px;
    background-color:beige;
    border-radius: 10px;
    box-shadow: 10px 10px orange;
}
.emptySize h1{
    display: flex;
    justify-content: center;
    height: inherit;
    align-items: center;
}
.btnHome{
    display: flex;
    justify-content: center;
    position: absolute;
    margin: 10px;
}
.total{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    padding-top: 20px;
}
.btnDelete{
    display: flex;
    justify-content: center;
    width: 100%;
}
h3 {
    font-size: 16px;
}
.text-navy {
    color: #1f1b1b;
}
.cart-product-imitation {
  text-align: center;
  height: 10px;
  width: 80px;
}

.product-imitation.xl {
  padding: 120px 0;
}
table.shoping-cart-table {
  margin-bottom: 3;
}
table.shoping-cart-table tr td {
  border: none;
  text-align: right;
}
table.shoping-cart-table tr td.desc,
table.shoping-cart-table tr td:first-child {
  text-align: left;
}
table.shoping-cart-table tr td:last-child {
  width: 80px;
}

.ibox-content {
  background-color: rgb(252, 252, 230);
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
  border-radius: 10px;
}
.ibox{
    box-shadow: -9px 9px 1.3px rgb(129, 162, 255);
    border-radius: 10px;
}
.totalContent{
    text-align: center;
}
.checkoutCard{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .wrapperCheckout{
    background: #fff;
    max-width: 400px;
    width: 100%;
    border-radius: 0px;
    box-shadow: 10px 10px 1px rgb(114, 171, 255);
    padding: 30px 0;
    border: 1.9px rgb(39, 38, 38) solid;
  }
  
  .wrapperCheckout .title{
    background: rgb(114, 171, 255);
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    letter-spacing: 5px;
    height: 35px;
    line-height: 38px;
    color: #fff;
    margin-bottom: 10px;
  }
  
  .checkout_form{
    padding: 0 30px;
  }
  
  .checkout_form .input_item input[type="text"]{
    width: 100%;
    border: 0;
    background: transparent;
    text-align: center;
    border-bottom: 2px solid #dddddd;
    padding: 10px;
    transition: all 0.5s ease;
    color: #3392eb;
    font-size: 18px;
  }
  .checkout_form .input_item input[type="email"]{
    width: 100%;
    border: 0;
    background: transparent;
    text-align: center;
    border-bottom: 2px solid #dddddd;
    padding: 10px;
    transition: all 0.5s ease;
    color: #3392eb;
    font-size: 18px;
  }
  .totalCheckout{
    width: 100%;
    border: 0;
    background: transparent;
    text-align: center;
    padding: 10px;
    transition: all 0.5s ease;
    color: #7a7a7a;
    font-size: 18px;
  }
  .checkout_form .input_item{
    margin-bottom: 10px;
  }
  
  .input_grp{
    margin-bottom: 10px;
  }
  
  .input_grp,
  .input_grp .input_item.expiry_field{
    display: flex;
    justify-content: space-between;
  }
  
  .input_grp .input_item{
    width: 45%;
  }
  
  .input_grp .input_item.expiry_field input[type="text"]:focus input[type="email"]:focus{
    width: 45%;
  }
  
  .btnCheckout{
    width: 150px;
    background: #5ecc79;
    margin: 0 auto;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 20px;
  }
  
  .btnCheckout a{
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 5px;
    color: #fff;
  }
  
  .checkout_form .input_item input[type="text"]:focus input[type="email"]:focus{
    border-bottom: 2px solid #f2483b;
  }
  
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #dddddd;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #dddddd;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    color: #dddddd;
  }
.email{
    border: none;
    color: rgb(212, 212, 212);
    font-size: 1.1rem;
}
.emailBody{
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 2.5px solid rgb(224, 224, 224);
}
.priceH2{
    color: rgb(65, 63, 63);
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;
}
.contador{
    display: flex;
    justify-content: center;
    background-color: beige;
    height: 26px;
    width: 25px;
    border-radius: 50%;
    
}
.cardCategoria{
    box-shadow: 6px 6px 1.5px rgb(131, 164, 255);
}
.precioh2{
    padding: 10px;
}