/* Estos son los estilos que se implementan en TODOS los codigos del react
" estilos generales" */
/* Font family, background color del body, tamaño de imagen,etc */
html {
  scroll-behavior: smooth;
}
body{
  font-family:'Courier New', Courier, monospace;
  overflow-x: hidden;
  background-color: rgb(252, 204, 93);
  background-image: linear-gradient(rgb(243, 224, 171) .1em, transparent .1em), linear-gradient(90deg, rgba(243, 224, 171) .1em, transparent .1em);
  background-size: 3em 3em;
}
